# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Machine learning models
*.pkl
*.joblib
*.h5
*.pt
*.onnx

# Dataset files
data/**/*.csv

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Node / Frontend
node_modules/
dist/
.vite/
npm-debug.log*

# Windows
Thumbs.db